<link rel="stylesheet" href="\css\footer.css">
<footer class="">
    <div class="container text-center">
        <p class="font-italic  mb-0" style="color: #1d1e1d;">&copy; Copyrights Uwatch.com All rights reserved.</p>
    </div>
</footer>
</body>

</html>