<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Movie Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <!-- Nav tabs -->

    <header>



        <div class="nav-bar">


            <ul class=" nav " id="navId">
                <li class="">
                    <a href="/">Home</a>
                </li>
                <li class="">
                    <a href="#tab1Id" class="">About us</a>
                </li>
                <li class="av">
                    <a href="#tab1Id" class="">Team</a>
                </li>

                <li class="">
                    <a href="#tab1Id" class="">Contact</a>
                </li>

            </ul>
        </div>
    </header>



</body>