<link rel="stylesheet" href="/css/404.css">

<% include partials/header%>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <section id="not-found">
                <div id="title"></div>
                <div class="circles">
                    <p>404<br>
                        <small>Nothing Found!</small><br>
                        <small><a id="404-back-tH" href="/">get back to search</a></small>
                    </p>
                    <span class="circle big"></span>
                    <span class="circle med"></span>
                    <span class="circle small"></span>
                </div>
            </section>

        </div>
    </div>

</div>
<% include partials/footer %>