<link rel="stylesheet" href="/css/404.css">


<body>
    <% include partials/header%>
    <section id="not-found">
        <div id="title"></div>
        <div class="circles">
            <p>404<br>
                <small>Nothing Found!</small><br>
                <small><a id="404-back-tH"href="/">get back to search</a></small>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    </section>
</body>
<% include partials/footer %>