<meta name="viewport"
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<% include partials/header %>
<link rel="stylesheet" href="/css/home.css">

<body>
    <div class=" container h-100">
        <div id=" main-body">
            <div id="header">
                <h1>FIND A MOVIE </h1>
            </div>
            <div id="search">
                <form action="/results" method="get">
                    <div class="d-flex justify-content-center h-100">

                        <div class="searchbar">

                            <input class="search_input" type="text" name="search" placeholder="Search Movie By Name">
                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% include partials/footer %>