<link rel="stylesheet" href="/css/results.css">
<% include partials/header %>

<body>
    <div id="result-page" class=" main-body container">

        <h1>Results </h1>

    </div>


    <div id="results" id="style-1" class=" mx-auto  list-group">
        <% data["Search"].forEach(function(movie) { %>
        <a href="#" class=" tex-center list-group-item list-group-item-action "><strong><%= movie["Title"]%></strong>-<span class="year"><%= movie["Year"]%> </span><span class="type">[<%= movie["Type"]%>]</span></a>
        <% }); %>
    </div>
    <section class="back-to-search mix-auto">
        <a id="back-to-search" href="/"><small> back to search</small></a>
    </section>

</body>


<% include partials/footer %>