<% include partials/header %>
<p>Your Rating:</p>
<ul class="list">
    <li><a href="#"><i class="fa fa-star"></i></a></li>
    <li><a href="#"><i class="fa fa-star"></i></a></li>
    <li><a href="#"><i class="fa fa-star"></i></a></li>
    <li><a href="#"><i class="fa fa-star"></i></a></li>
    <li><a href="#"><i class="fa fa-star"></i></a></li>
</ul>
</div>
<form action="/test" method="POST">
        <div class="form-group">
                <input class="form-control" name="username" type="text"
                    placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <input class="form-control"  name="email" type="email"
                    placeholder="Enter email address" required>
            </div>
    <section class='rating-widget'>

        <!-- Rating Stars Box -->
        <div class='rating-stars text-center'>
            <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star '></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star '></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star '></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star '></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star '></i>
                </li>
            </ul>
        </div>

        <div class='success-box'>
            <div class='clearfix'></div>

            <div class='text-message'></div>
            <div class='clearfix'></div>
        </div>

        <input type="button"  id="submit"value="SUBMIT">

    </section>
</form>

<div id="select_div"><a href="#" id="select_link">Test</a></div>



<link rel="stylesheet" href="/css/movie_result.css">





<style>
    

    .success-box {
        margin: 50px 0;
        padding: 10px 10px;
        border: 1px solid #eee;
        background: #f9f9f9;
    }

    .success-box img {
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
    }

    .success-box>div {
        vertical-align: top;
        display: inline-block;
        color: #888;
    }



    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type: none;
        padding: 0;

        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .rating-stars ul>li.star {
        display: inline-block;

    }

    /* Idle State of the stars */
    .rating-stars ul>li.star>i.fa {
        font-size: 2.5em;
        /* Change the size of the stars */
        color: #ccc;
        /* Color on idle state */
    }

    /* Hover state of the stars */
    .rating-stars ul>li.star.hover>i.fa {
        color: #0288D1;
    }

    /* Selected state of the stars */
    .rating-stars ul>li.star.selected>i.fa {
        color: #FFCC36;
    }
</style>
<script>
    var ratingValue = 0;
    $(document).ready(function () {

        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                } else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });


        /* 2. Action to perform on click */
        $('#stars li').on('click', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
                $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
                $(stars[i]).addClass('selected');
            }

            // JUST RESPONSE (Not needed)
            ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            var msg = "";
            if (ratingValue > 1) {
                msg = "Thanks! You rated this " + ratingValue + " stars.";
            } else {
                msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
            }
            responseMessage(msg);

        });



    });

    function responseMessage(msg) {
        $('.success-box').fadeIn(200);
        $('.success-box div.text-message').html("<span>" + msg + "</span>");
    }
    $('#submit').click(function (e) {
        e.preventDefault();

		console.log('submit clicked');
		var rate = parseInt($('#stars li.selected').last().data('value'), 10);
		$.post("/results/<%= allmovies[0]['_id'] %>/comments", {
			ratinng: rate,
			message: $("#textarea").val(),

		});

    });
</script>