.nb{
  z-index: 100;
}
.brand-logo{
    font-family: 'f5.6regular';
    font-size: xx-large !important;
    color: #353B48 !important;

}
#login{

float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
ul{
    list-style: none;
}
/* ==================flash message================== */
.alert.alert-success {
  background-color: #55b559;
  color: #fff;
}
.alert {
  border: 0;
  border-radius: 0;
  padding: 20px 15px !important;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
}
.alert .alert-icon {
  display: block;
  float: left;
  margin-right: 1.071rem;
}

.close {
  float: right;
  font-size: 1.5rem;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}
.alert .close {
  color: #fff;
  text-shadow: none;
  
}
.alert .close i {
  font-size: 20px;
}
.alert .close:hover{
  opacity: 1;
  color: #fff;
}    
.alert.alert-info {
  background-color: #00cae3;
  color: #fff;
}

.alert.alert-danger {
background-color: #f55145;
color: #fff;
}