body,
html {

    height: 100%;
    width: 100%;
    padding: 0;
    background: #0288D1 !important;
    margin: 0;
    color: #fff;

}
.main-box{
    margin: 5% 0;
    background-color: #fff;
    border-radius: 25px;
}
#poster{
    height: 25em;
    border: 3px solid #353b48;
    border-radius: 25px;
    padding: 0;
}
.info-box{
    background-color: #384AEB;
    border-radius: 25px;
}
.basic-info{
    margin-bottom: .5rem;
}
.writers{

}
#plot{
    font-family:  sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1em;
}