
body,
html {
    
    width: auto;
    margin: 0;
    padding: 0;
    background: #0288D1 !important;
    margin: 0;
    height: 100%;
    width: 100%;
    color: aliceblue;

}
#Result_header{
    font-family:'pennaregular';
    font-size: 7em;
}
#res_dis{
    font-family:  sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1em;

}
#result-items{
    background-color: #fff;
    
}
#result-items:hover{
    background-color: #0288d1;
}
#res_dis_search{
    font-family: 'pennaregular';
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 3em;
}
.info{
    color: #fff;
    font-size: 80%;
}
.list-group-contanier{
    width: 80%;
}
.list-group{
    max-height: 300px;
    overflow:scroll;
    overflow-x: hidden;
    border-radius: 10px;
    -webkit-overflow-scrolling: touch;

}
.list-group-item-action:focus, .list-group-item-action:hover{
background-color: #0288D1;
}
/*######scrollbar#########*/


#results::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

#results::-webkit-scrollbar
{
	width: 12px;
	background-color: #0288d1;
}

#results::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#0288D1;
}
.badge-pill{
    display: block;
    height: 100%;
}
